@font-face
{
    font-family: hht;
    src:url("fonts/Comfortaa-Regular.ttf");
}
body
{
	background-image: url("images/back1.png");
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-color:#efd9d7;
	margin: 0px;	
	padding: 0px ;
}
header
{
	box-shadow: 0px 13px 22px black;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    height: 75px;
    width: 93%;
    border-radius: 0px 50px 50px 0px;
    background-color: #343145;
}
#p1
{

	float: left;
	margin: 15px 0px 0px 80px;
	color: yellowgreen;
	height: 40px;
    width: 300px;
	font-family: hht;
	font-size:40px;
}
#s1
{
	color: #facec9;
}
.cntus
{
	float: left;
	background-color: #343145;
	background-image: url("images/d1.jpg");
	margin: 25px 0px 20px 0px; 
	box-shadow: 0px 13px 22px  black;
  	height:500px;
  	width:100%;
  	background-size: inherit;
}
::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb
{
	border-radius: 50px ;
	background-color: white;
	box-shadow: 0px 5px 10px 0px black;
}
::-webkit-scrollbar-track
{
	border-radius: 50px ;
	background-color: maroon;
}
.main
{    
	 margin: 10px 0px 10px 417px;
    float: left;
    //border: 1px solid white;
    width: 500px;
    height: 476px;
}

.img
{	
	float: left;
    border: 2px solid white;
    background-image: url(images/slogo.jpg);
    background-size: 113px 109px;
    background-position: -2px -2px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 20px 280px 10px 182px;
    box-shadow: 0px 2px 28px 2px yellowgreen;
}

.text
{
	font-size: 22px;
    float: left;
    color: white;
    text-align: center;
    width: 480px;
    font-family: hht;
    margin: 10px 0px 10px 0px;

}
.p
{
	text-decoration: none;
	font-size: 20px;
    float: left;
    color: bisque;
    text-align: center;
    width: 489px;
    font-family: hht;
    //margin: 10px 0px 10px 357px;
}
.p1
{
	font-size: 20px;
    float: left;
    color: bisque;
    text-align: center;
    width: 489px;
    font-family: hht;
    margin: 0px 0px 10px 0px;
	

}
#sp
{
	color: yellowgreen;
}
#headi
{
	float: left;
    margin: 0px 80px 0px 181px;
    color: bisque;
    font-family: hht;
    font-size: 20px;
    height: 29px;
    width: 145px;


}
.fb
{
	text-decoration: none;
	float: left;
    margin: 0px 5px 10px 173px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #3B5998;
    color: white;
    border-radius: 50%;
    font-family: hht;
}
.fb:hover
{
	text-decoration: none;
	background-color: #1c33a5;
	font-size: 30px;
}
#b
{
	color: white;
	text-decoration: none;
}
.inta
{
	float: left;
	margin: 0px 5px 10px 20px;
	height:50px;
	width: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	background-color: #3f729b;
	background-image: url(images/i1.jpg);
	background-size: 50px 50px;
	color: white;
	border-radius: 50%;
	font-family: hht;
}
.inta:hover
{
	background-image: url(images/i1.jpg);
	background-size: 70px 70px;
	background-position: -10px -10px;
}










@media(max-width: 377px) and (min-width:200px) 
{
body
{
	background-image: url("images/back1.png");
	background-attachment: fixed;
	background-size: 377px 100%;
	background-repeat: no-repeat;
	background-color:#efd9d7;
	margin: 0px;	
	padding: 0px ;
}
header
{
	box-shadow: 0px 13px 22px black;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    height: 35px;
    width: 93%;
    border-radius: 0px 50px 50px 0px;
    background-color: #343145;
}
#p1
{
	float: left;
    margin: 5px 0px 0px 29px;
    color: yellowgreen;
    height: 26px;
    width: 300px;
    font-family: hht;
    font-size: 28px;
}
#s1
{
	color: #facec9;
}
.cntus
{
	float: left;
	background-color: #343145;
	background-image: url("images/d1.jpg");
	margin: 25px 0px 20px 0px; 
	box-shadow: 0px 13px 22px  black;
  	height:662px;
  	width:377px;
  	background-size: inherit;
}
::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb
{
	border-radius: 50px ;
	background-color: white;
	box-shadow: 0px 5px 10px 0px black;
}
::-webkit-scrollbar-track
{
	border-radius: 50px ;
	background-color: maroon;
}
.main
{    
	 margin: 10px 0px 10px 0px;
    float: left;
    
    width: 374px;
    height: 550px;
}

.img
{	
	float: left;
    border: 2px solid white;
    background-image: url(images/slogo.jpg);
    background-size: 113px 109px;
    background-position: -2px -2px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 21px 118px 20px 142px;
    box-shadow: 0px 2px 28px 2px yellowgreen;
}

.text
{
	font-size: 20px;
    float: left;
    color: white;
    text-align: center;
    width: 355px;
    font-family: hht;
    margin: 10px 0px 10px 11px;

}
.p
{
	text-decoration: none;
	font-size: 20px;
    float: left;
    color: bisque;
    text-align: center;
    width: 355px;
    font-family: hht;
    margin: 10px 0px 10px 11px;
}
.p1
{
	font-size: 20px;
    float: left;
    color: bisque;
    text-align: center;
    width: 355px;
    font-family: hht;
    margin: 0px 0px 10px 11px;
	

}
#sp
{
	color: yellowgreen;
}
#headi
{
	float: left;
    margin: 0px 80px 0px 126px;
    color: bisque;
    font-family: hht;
    font-size: 20px;
    height: 29px;
    width: 145px;
}
.fb
{
	text-decoration: none;
	float: left;
    margin: 0px 5px 10px 122px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #3B5998;
    color: white;
    border-radius: 50%;
    font-family: hht;
}
.fb:hover
{
	text-decoration: none;
	background-color: #1c33a5;
	font-size: 30px;
}
#b
{
	color: white;
	text-decoration: none;
}
.inta
{
	float: left;
	margin: 0px 5px 10px 20px;
	height:50px;
	width: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	background-color: #3f729b;
	background-image: url(images/i1.jpg);
	background-size: 50px 50px;
	color: white;
	border-radius: 50%;
	font-family: hht;
}
.inta:hover
{
	background-image: url(images/i1.jpg);
	background-size: 70px 70px;
	background-position: -10px -10px;
}

}













@media (max-width: 767px) and (min-width:407px) 
{
body
{
	background-image: url("images/back1.png");
	background-attachment: fixed;
	background-size: 377px 100%;
	background-repeat: no-repeat;
	background-color:#efd9d7;
	margin: 0px;	
	padding: 0px ;
}
header
{
	box-shadow: 0px 13px 22px black;
    margin: 20px 0px 0px 0px;
    padding: 0px;
    height: 35px;
    width: 93%;
    border-radius: 0px 50px 50px 0px;
    background-color: #343145;
}
#p1
{
	float: left;
    margin: 3px 0px 0px 29px;
    color: yellowgreen;
    height: 26px;
    width: 300px;
    font-family: hht;
    font-size: 27px;
}
#s1
{
	color: #facec9;
}
.cntus
{
	    float: left;
    background-color: #343145;
    background-image: url(images/d1.jpg);
    margin: 25px 0px 20px 0px;
    box-shadow: 0px 13px 22px black;
    height: 590px;
    width: 420px;
    background-size: inherit;
}
::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
}
::-webkit-scrollbar-thumb
{
	border-radius: 50px ;
	background-color: white;
	box-shadow: 0px 5px 10px 0px black;
}
::-webkit-scrollbar-track
{
	border-radius: 50px ;
	background-color: maroon;
}
.main
{    
	 margin: 10px 0px 10px 0px;
    float: left;
    
    width: 420px;
    height: 550px;
}

.img
{	
	float: left;
    border: 2px solid white;
    background-image: url(images/slogo.jpg);
    background-size: 113px 109px;
    background-position: -2px -2px;
    border-radius: 50%;
    width: 110px;
    height: 110px;
    margin: 21px 118px 10px 162px;
    box-shadow: 0px 2px 28px 2px yellowgreen;
}

.text
{
	font-size: 20px;
    float: left;
    color: white;
    text-align: center;
    width: 411px;
    font-family: hht;
    margin: 10px 0px 10px 0px;

}
.p
{
	text-decoration: none;
	font-size: 20px;
    float: left;
    color: bisque;
    text-align: center;
    width: 411px;
    font-family: hht;
    //margin: 10px 0px 10px 357px;
}
.p1
{
	font-size: 20px;
    float: left;
    color: bisque;
    text-align: center;
    width: 411px;
    font-family: hht;
    margin: 0px 0px 10px 0px;
	

}
#sp
{
	color: yellowgreen;
}
#headi
{
	float: left;
   
    margin: 19px 80px 0px 143px;
    olor: bisque;
    font-family: hht;
    font-size: 20px;
    height: 29px;
    width: 137px;
}
.fb
{
	text-decoration: none;
	float: left;
    margin: 0px 5px 10px 144px;
    height: 50px;
    width: 50px;
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background-color: #3B5998;
    color: white;
    border-radius: 50%;
    font-family: hht;
}
.fb:hover
{
	text-decoration: none;
	background-color: #1c33a5;
	font-size: 30px;
}
#b
{
	color: white;
	text-decoration: none;
}
.inta
{
	float: left;
	margin: 0px 5px 10px 20px;
	height:50px;
	width: 50px;
	font-size: 20px;
	line-height: 50px;
	text-align: center;
	background-color: #3f729b;
	background-image: url(images/i1.jpg);
	background-size: 50px 50px;
	color: white;
	border-radius: 50%;
	font-family: hht;
}
.inta:hover
{
	background-image: url(images/i1.jpg);
	background-size: 70px 70px;
	background-position: -10px -10px;
}	
}

@media (max-width: 1023px) and (min-width:750px) 
{
    .cntus {
    float: left;
    background-color: #343145;
    background-image: url(images/d1.jpg);
    margin: 25px 0px 20px 0px;
    box-shadow: 0px 13px 22px black;
    height: 800px;
    width: 100%;
    background-size: inherit;
}
    .main {
    margin: 110px 0px 10px 155px;
    float: left;
   // border: 1px solid white;
    width: 500px;
    height: 476px;
}
}
@media (max-width: 1029px) and (min-width:770px) 
{
    .cntus {
    float: left;
    background-color: #343145;
    background-image: url(images/d1.jpg);
    margin: 25px 0px 20px 0px;
    box-shadow: 0px 13px 22px black;
    height: 800px;
    width: 100%;
    background-size: inherit;
}
   .main {
    margin: 110px 0px 10px 282px;
    float: left;
    
   // border: 1px solid white;
    width: 500px;
    height: 476px;

}
}